/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:30px;
  -fx-tab-max-height:30px;
}

.tab {
  -fx-font-family: "Times New Roman";
  -fx-font-size: 18px;
  -fx-background-color:lightblue ;
}

.tab:selected {
    -fx-background-color:blue ;
    -fx-font-weight: bold;
}

#dangxuat, #lblDangXuat {
	 -fx-font-family: "Times New Roman";
	 -fx-font-size: 16px;
}

#tendn, #lblTaiKhoan {
	 -fx-font-family: "Times New Roman";
	 -fx-font-size: 16px;
	 
}

#maLop,#tenLop{
	 -fx-font-family: "Times New Roman";
	 -fx-font-size: 25px;
	 -fx-font-weight: bold;
}

#dangxuat:hover {
	-fx-text-fill: blue;
	-fx-underline: true;
}

#iconUser:hover{
	-fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

#listLop{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20px;
}

#tableNhom{
	 -fx-font-family: "Times New Roman";
	 -fx-font-size: 20px;
}

#tableNhom .table-column {
  -fx-alignment: CENTER;
}

#btnQuayve, #btnDangkynhom, #btnHoantat, #btnThemthanhvien, #btnRutnhom, #btnChitietnhom{
	-fx-font-family: "Times New Roman";
	 -fx-font-size: 20px;
	 -fx-font-weight: bold;
}

.dialogThemthanhvien{
	-fx-font-family: "Times New Roman";
  	-fx-font-size: 18px;
}

